<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include('header',{user_name: user_name, user_id: user_id}) %>
      <title>Followers</title>
  </head>

  <body>
    <main role="main" class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1>
          <%= title %>
        </h1>
      </div>
      <% for(let i=0;i < user_idList.length;i++) { %>
        <% if(user_nameList[i]) { %>
          <h3>
            <li><a href="/users/<%=user_idList[i] %>">
                <%= user_nameList[i] %>
              </a></li>
          </h3>
          <br>
          <% } %>
            <% }; %>
              </dl>
    </main>
    <%- include('partials/bootstrap.ejs'); %>
  </body>

</html>