<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>フォロワー一覧画面</title>
  <!--リンク「r」を押下したときに、rootのプロフに飛んでるから、postでidList情報を送ればできる？-->
  <!--他のユーザーのリンクを押下したときに、現在sessionに格納されている変数をそのユーザー情報で置き換えてあげればよいのでは？-->
  <%- include('header',{user_name: user_name, user_id: user_id}) %>
</head>
<body>
  <h1><%= title %></h1>
  <dl>
  <% for(let i = 0;i < idList.length;i++) { %>
    <dt><%= idList[i] %></dt>
    <a href="/users/<%=idList[i] %>"><dd><%= nameList[i] %></dd></a>
  <% }; %>
</dl>
</body>
</html>
