<!DOCTYPE html>
<html>

  <head>
    <title>ProfileApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('header',{user_name: user_name, user_id: user_id}) %>
  </head>

  <body>
    <h1><%= title %></h1>
  </body>
  <% if(user_name) { %>
  <div class="wrapper">
    <form action="/" method="post">
      <p><%= user_name %></p>
      <p>フォロー<a href="/follows"><%=followed_id %></a></p>
      <p>フォロワー<a href="/followers"><%=following_id %></a></p>
      <a href="/users/<%=user_id %>">View My Profile</a>
      <p>自己紹介文</p>
      <textarea name="content" cols="30" rows="5"></textarea>
      <button type="submit" class="submit">投稿</button>
      <br>
      <textarea readonly name="content" cols="50" rows="10"><%= contentList[user_id - 1].content %></textarea>
    </form>
    <% }else{ %>
    <form action="/signup" method="get" class="task-form">
      <button type="submit" class="submit">Sign up</button>
    </form>
    <% } %>
  </div>

</html>