<!DOCTYPE html>
<html>

  <head>
    <title>ProfileApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include('header',{user_name: user_name, user_id: user_id}) %>
  </head>

  <body>
    <main role="main" class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1><%= title %></h1>
      </div>
      
      <% if(user_name) { %>
      <div class="wrapper">
        <form action="/" method="post">
          <h2><%= user_name %></h2>
          <h5>Follows<a href="/follows"><%=followed_id %></a></h5>
          <h5>Followers<a href="/followers"><%=following_id %></a></h5>
          <h5><a href="/users/<%=user_id %>">View My Profile</a></h5>
          <h5>Introduction</h5><br>
          <p><textarea name="content" cols="50" rows="10"></textarea></p>
          <input class="btn btn-primary" type="submit" value="Post" />
          <br>
          <br>
          <textarea readonly cols="50" rows="10"><%= contentList[user_id - 1].content %></textarea>
        </form>
        <% }else{ %>
        <form action="/signup" method="get" class="task-form">
          <input class="btn btn-primary" type="submit" value="Sign up" />
        </form>
        <% } %>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
  </body>

</html>