<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include('header',{user_name: user_name, user_id: user_id}) %>
  </head>

  <body>
    <main role="main" class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1>My profile</h1>
      </div>
      <h1><%=user_name %></h1>
      <h5>Follows<a href="/follows"> <%=followed_id %></a></h5>
      <h5>Followers<a href="/followers"> <%=following_id %></a></h5>
      <% if(isotherspage){ %>
      <form action="/users/<%= page_location %>" method="post">
        <% if(isfollow){ %>
        <button type="submit" class="submit">Remove</button>
        <% } else{ %>
        <button type="submit" class="submit">Follow</button>
        <% } %>
      </form>
      <% } %>
      <textarea readonly name="content" cols="50" rows="10"><%= contentList[0].content %></textarea>
    </main>
    <%- include('partials/bootstrap.ejs'); %>
  </body>

</html>